  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="container mt-3">
  <div class="cards">
    <% @cocktail.doses.each do |dose| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <% %>)">
        <%= dose.description %> <%= dose.ingredient.name %>
      </div>
         <%= link_to "Delete dose", dose_path(dose), method: :delete, class: "btn btn-primary" %>

    <% end %>
